.container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

.grid-unit {
    outline: solid 2px black;
    outline-offset: -2px;
}

.hover {
    background-color: yellow;
}

.button {
    margin: auto;
}
